---
ip: "192.168.10.10"
memory: 2048
cpus: 1
provider: virtualbox

authorize: ~/.ssh/id_rsa.pub

keys:
    - ~/.ssh/id_rsa

folders:
    - map: ~/Workspace
      to: /home/vagrant/Workspace

sites:
    - map: laravel-assessment.dev
      to: /home/vagrant/Workspace/laravel-assessment/public

databases:
    - laravel_assessment
